 /*revisar bien el footer*/
 /*================
    Restricciones 
   ================

*/
#rango{

  
  background: #fff url("https://i.imgur.com/btGXOvd.png") no-repeat right top;
  background-size:29px;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  cursor:pointer;
}
  html {
    width: 100%;
    height: 100%;
    max-height: 100%;
  position: relative;
  overflow: auto;
}



* {
margin: 0;
}
@media only screen and (max-width: 700px) {
.brand-big{
display:none;
}

#opciones{
  display:none;
}



}

@media only screen and (min-width: 700px) {
.brand-small{
display:none;
}


.baba{
  display:none;
}


}



 /*
* ==========================================================
*     GENERAL STYLES
* ==========================================================
*/
.pestaña{
  color: #0B3B39;
}
  a,a:hover{
    color:#ffffff;
  }
  #OlClave{
    color: black;
  }
a, i, span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
    text-decoration: none;
}
section {
    padding: 50px 0;
}
header.page-header {
    padding: 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  font-family: "Poppins", sans-serif;
}

h1,
.h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.3rem;
}

h3,
.h3 {
  font-size: 1.2rem;
}

h4,
.h4 {
  font-size: 1.1rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}

/*background-color: #343a40 !important;*/
/*============
    Img
  ============*/
  .logo-little{
    max-width: 40px;
    max-height: 40px;
  }
/*============
    Fuentes
  ============
*/
.gru-mayuscula {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}
.gru-minuscula {
 font-family: "Poppins", sans-serif;
 /*font-weight: bold;*/
  font-size: 1.0rem;
  /*font-weight: 400;
  line-height: 1.5;
  color: #fff;*/

  }
/*================
      Sidebar
  ================*/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  font-size: 0.9rem;
  background: #F2F2F2;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/
/*aqui*/
.page-wrapper {
  height: 91vh;

}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}


.page-wrapper .theme.cool-theme {
  background: #38373d;
  
}
/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 260px;
  }
}
/*----------------show sidebar button----------------*//*
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}*/
/*----------------sidebar-wrapper----------------*/
.punto{
   z-index:1;

}
.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
   z-index:2;

  top: 0;
  left: -300px;
  z-index: 999;
  -webkit-box-shadow: 3px 4px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 3px 4px 5px -2px rgba(0,0,0,1);
box-shadow: 3px 4px 5px -2px rgba(0,0,0,1);
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  
  
  content:"\f078";
  
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
/*
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f1db";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}*/
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
  position: relative;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #636269;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #636269;
}
::-webkit-scrollbar-thumb:active {
  background: #636269;
}
::-webkit-scrollbar-track {
  background: #333238;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #333238;
}
::-webkit-scrollbar-track:active {
  background: #333238;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------dark theme---------------------*/

.cool-theme .sidebar-wrapper {
  background: #38373d;
}

.cool-theme .sidebar-wrapper .sidebar-header,
.cool-theme .sidebar-wrapper .sidebar-search,
.cool-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #504e57;
}

.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: #504e57;
  box-shadow: none;
}

.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text,
.cool-theme .sidebar-wrapper .sidebar-brand > a,
.cool-theme .sidebar-wrapper .sidebar-menu ul li a,
.cool-theme .sidebar-footer > a {
  color:#F2F2F2;
 /* color: #918f9e;*/
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.cool-theme .sidebar-wrapper .sidebar-menu .active > a,
.cool-theme .sidebar-wrapper .sidebar-header .user-info,
.cool-theme .sidebar-wrapper .sidebar-brand > a:hover,
.cool-theme .sidebar-footer > a:hover i {
  color: #D8D8D8;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.cool-theme .sidebar-wrapper .sidebar-header .user-info,
.cool-theme .sidebar-wrapper .sidebar-brand > a:hover,
.cool-theme .sidebar-footer > a:hover i {
  color: #b3b8c1;
}
.page-wrapper.cool-theme.toggled #close-sidebar {
  color: #918f9e;
}

.page-wrapper.cool-theme.toggled #close-sidebar:hover {
  color: #b3b8c1;
}
.cool-theme .sidebar-wrapper ul li:hover a i,
.cool-theme
  .sidebar-wrapper
  .sidebar-dropdown
  .sidebar-submenu
  li
  a:hover:before,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #01DFD7;
}


.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #504e57;
}

.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #5b5963;
}

.cool-theme .sidebar-footer {
  background: #504e57;
  box-shadow: 0px -1px 5px #2a292d;
  border-top: 1px solid #5b5963;
}

.cool-theme .sidebar-footer > a {
  border-left: 1px solid #38373d;
  border-right: 1px solid #5b5963;
}

.cool-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.cool-theme .sidebar-footer > a:last-child {
  border-right: none;
}

/*==================
      search
  ==================*/

nav.navbar .search-box {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: #2E2E2E;
  z-index: 12;
  border-radius: 0;
  display: none;
  -webkit-box-shadow: 2px 3px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 2px 3px 5px -2px rgba(0,0,0,1);
box-shadow: 2px 3px 5px -2px rgba(0,0,0,1);

}

nav.navbar .search-box .dismiss {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #2E2E2E;
}

nav.navbar .search-box form {
  height: 100%;
  background: #BDBDBD;
}

nav.navbar .search-box form input {
  height: 100%;
  border: none;
  padding: 20px;
  background: #BDBDBD;
}
/*==========
    Card Tables
  ==========*/

.card-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
}

.card-close .dropdown-toggle:after {
  display: none;
}

.card-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.card-close .dropdown-menu a {
  color: #999 !important;
}

.card-close .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

.card-close .dropdown-menu a i {
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.card-header {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.card-header {
  padding: 1rem 1.25rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin-bottom: 0;
}
.overdue .card {
  margin-bottom: 0;
}

.overdue .card-body {
  padding: 20px;
}

.overdue .card-body small {
  font-weight: 300;
  color: #aaa;
}

.overdue .card-body h3 {
  margin-bottom: 5px;
}
.card-footer {
  padding: 1rem 1.25rem;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}
/*===================
    Boton para seleccionar pdf
  ===================*/
  
.button {
  position: relative;
  
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  
}
.button.type1 {
  color: #566473;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #088A08;
  border-right-color: #088A08;
 -webkit-box-shadow: -7px -4px 14px -1px rgba(147,245,128,1);
-moz-box-shadow: -7px -4px 14px -1px rgba(147,245,128,1);
box-shadow: -7px -4px 14px -1px rgba(147,245,128,1);
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #088A08;
  border-left-color: #088A08;
  -webkit-box-shadow: 13px 6px 24px -1px rgba(147,245,128,1);
-moz-box-shadow: 13px 6px 24px -1px rgba(147,245,128,1);
box-shadow: 13px 6px 24px -1px rgba(147,245,128,1);
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}
/*
* ==========================================================
*     FOOTER
* ==========================================================
*/


footer.main-footer {
    
    display: inline-block;
  bottom: 0;

  position: relative;;
  width: 100%;
    
    background: #343a40;
    color: #fff;
    padding: 20px ;
    
}
footer.main-footer a {
    color: inherit;
}
footer.main-footer p {
    margin: 0;
    font-size: 0.8em;
}
/*========
    table
  ========*/
 /*revisar aqui*/
body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #5e5d52;
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead tr{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(99,99,99,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(99,99,99,1);
box-shadow: 0px 2px 5px 0px rgba(99,99,99,1);
}
.responsive-table thead th {
  background-color: #0404B4;
  border: 1px solid #0404B4;

  font-weight: normal;
  text-align: center;
  color: white;
 
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;

  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }

}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #0404B4;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
@media(max-width: 48em){
  .responsive-table tbody th[scope="row"] {
    -webkit-box-shadow: 0px 2px 5px -1px rgba(79,77,79,1);
-moz-box-shadow: 0px 2px 5px -1px rgba(79,77,79,1);
box-shadow: 0px 2px 5px -1px rgba(79,77,79,1);
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
  }
}
.responsive-table tbody th[scope="row"] {
  background-color:#0404B4;
  color: white;
   
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;


  }

}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    border-bottom: 1px solid #0404B4;

  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);

}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;

  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}
/*Login , registro, recuperación de contraseña*/

/*===================================
        Login y formulario de registro
     ===================================*/

#banner {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-size: cover;
    min-height: 100vh;
    
}
.bg-color {
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 100vh;

}

.materialContainer {
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
.overlay, .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}
.form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(0, -25%) scale(0);
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form-toggle:before, .form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-toggle:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.form-toggle:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.form-toggle.visible {
    -webkit-transform: translate(0, -25%) scale(1);
    transform: translate(0, -25%) scale(1);
    opacity: 1;
}
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 20px;
}
.form-group:last-child {
    margin: 0;
}
.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.two .form-group label {
    color: #FFFFFF;
}
.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}
.two .form-group input {
    color: #FFFFFF;
}
.two .form-group .boton-blanco:focus {
    /*color: #FFFFFF;*/
    color: #0A0A0A;
}
.form-group .boton-azul {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
.two .form-group .boton-blanco {
    background: #FFFFFF;
    color: #4285F4;
    outline: none;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}
.form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}
.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}
.form-panel.two:before, .form-panel.two:after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form-panel.two:after {
    left: 3%;
}
.form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-panel.two:hover:before, .form-panel.two:hover:after {
    opacity: 0;
}
.form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}
.form-panel.two.active:before, .form-panel.two.active:after {
    opacity: 0;
}
.form-header {
    margin: 0 0 40px;
}
.form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
}
.pen-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
}
.pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
}
.cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
}

/*
==============================
información de la cuenta - perfil
==============================
*/

.group {
    position: relative;
    margin: 45px 0;
}
.input2 {
    background: none;
    color: #000000;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
.input2:focus {
    outline: none;
}
.input2:focus~.label2, .input2:valid~.label2 {
    top: -14px;
    font-size: 12px;
    color: #190707;
}
.input2:focus~.bar:before {
    width: 100%;
}
.label2 {
    color: #190707;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #0404B4;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
}
/*
===========
  Botones
=========== */

.color-azul:hover {
    color: #08088A;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.48), 0 5px 5px rgba(0, 0, 0, 0.52);
}
.btn.color-azul {
    background: #0404B4;
    font-size: 14px;
    color: #bce0fb;
}
.btn.color-azul:hover {
    background: #0000FF;
    font-size: 14px;
    color: #deeffd;
}
/*===========
  dropdown de los años
  ===========*/
.select {
  position: relative;
  display: block;
  width: 15em;
  height: 2.5em;
  line-height: 2.5;
  color: white;
  background: #0000FF;
  overflow: hidden;
  border-radius: .20em;
}
.sele {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #2c3e50;
  cursor: pointer;
}
.sele::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #0000FF;
}
.select::after {
  transition: .25s all ease;
}
/*============
  paginacion
  ============*/
  
.pagination-wrapper {
  text-align: center;
  margin: 0px 0;
}

.pagination {
  display: inline-block;
  height: 20px;
  margin-top: 0px;
  padding: 0 0px;
  border-radius: 15px;
  background-color: #eee;
}
@media only screen and (max-width: 1199px) {
  .pagination {
    height: 20px;
    margin-top: 0px;
    padding: 0 10px;
    border-radius: 25px;
  }
}

.page-numbers {
  display: block;
  padding: 0 25px;
  float: left;
  transition: 400ms ease;
  color: #190707;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 20px;
}
.page-numbers:hover, .page-numbers.current {
  background-color: #0404B4;
  color: #fff;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
  background-color: transparent;
  color: #0404B4;
}
@media only screen and (max-width: 1199px) {
  .page-numbers {
    padding: 0 15px;
    font-size: 10px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .page-numbers {
    padding: 0 14px;
    display: none;
  }
  .page-numbers:nth-of-type(2) {
    position: relative;
    padding-right: 50px;
  }
  .page-numbers:nth-of-type(2)::after {
    content: '...';
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 45px;
  }
  .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
    display: block;
  }
  .page-numbers:nth-last-child(-n+4) {
    padding-right: 14px;
  }
  .page-numbers:nth-last-child(-n+4)::after {
    content: none;
  }
}
/*radio button*/
.inputGroup {
  background-color: #F2F2F2;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form2 {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}
/*==============
caja de errores
=================*/
.errores{
background-color: #FE2E2E;
  border-radius: 3px;
  bottom: 100%;
  color: white;
  content: attr(data-title);
  font-size: 11px;
  left: 100%;
  padding: .5em 1em;
  white-space: nowrap;
  display: none;
}
.errores2{
  display: none;
  color: #FE2E2E;
  font-size: 11px;
  
}